
* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(241, 241, 241);
}
#paynav {
  /* border: 1px solid blue; */
  background-color: darkblue;
  color: white;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#paynav > img {
  margin-left: 150px;
  width: 10%;
}
#paynav > div {
  margin-right: 150px;
}

#paybar {
  width: 80%;
  margin: auto;
}
#paybar > div {
  width: 100%;
  height: 50px;
  padding-top: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#paybar > div:first-child {
  color: rgb(7, 7, 90);
}
#paybar > div:last-child {
  background-color: white;
  font-size: 12px;
}
#paybar > div:last-child > p {
  color: rgb(115, 110, 110);
}

#main {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 20px;
}
#main > div:first-child {
  width: 70%;
  /* border: 1px solid red; */
  margin-top: 20px;
}
#main > div:first-child > div:first-child {
  height: 40px;
  padding-top: 10px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: #569eef;
}
#main > div:first-child > div:first-child > img {
  width: 3%;
  margin-left: 10px;
}
#main > div:first-child > div:first-child > a {
  text-decoration: none;
  margin-bottom: 10px;
}
#main > div:first-child > div:first-child > a:hover {
  text-decoration: underline;
}
#property {
  /* border: 1px solid black; */
  height: 350px;
  margin-top: 10px;
  background-color: white;
}
#property > div:first-child {
  margin-left: 20px;
  display: flex;
}
#property > div:first-child > img {
  width: 3%;

  margin-top: 15px;
}
#property > div:first-child > h4 {
  margin-top: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
#property > div:first-child > h4 > span {
  font-size: 14px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
#property > div:nth-child(2) {
  width: 50%;
  margin-left: 50px;
  display: flex;
}
#property > div:nth-child(2) > p {
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: green;
}
#property > div:nth-child(2) > p > img {
  width: 12%;
}
#formfill {
  /* border: 1px solid black; */
  width: 70%;
  margin-left: 50px;
}
#formfill > div {
  display: flex;
  gap: 25px;
}
#formfill > div > div > input {
  margin-top: 12px;
  border: 1px solid black;
  width: 220px;
  height: 35px;
}
#formfill > div > div > p {
  margin-top: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
#formfill > select {
  margin-top: 12px;
  width: 150px;
  height: 35px;
}
#formfill > input {
  margin-top: 12px;
  margin-left: 20px;
  width: 290px;
  height: 33px;
}
#formfill > p {
  margin-top: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
#lable {
  margin-top: 20px;
}
#lable > p {
  font-size: 15px;
  margin-left: -15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: rgb(68, 71, 74);
}
#formfill > p:last-child {
  color: #0762ca;
}

#protect {
  width: 100%;
  height: 650px;
  /* border: 1px solid rgb(88, 16, 189); */
  margin-top: 20px;
  background-color: white;
}
#protect > div {
  margin-top: 20px;
}
#protect > div:first-child {
  margin-top: 20px;
  display: flex;
}
#protect > div:first-child > img {
  width: 5%;
  height: 4%;
}
#protect > div:first-child > h2 {
  margin: 8px;
  color: rgb(4, 45, 4);
  font-family: Arial, Helvetica, sans-serif;
}
#protect > div:first-child > h2 > span {
  /* background-color: rgb(6, 77, 6); */
  font-size: 15px;
  font-weight: 200;
  color: white;
  border-radius: 5px;
}
#protect > div:nth-child(2) {
  width: 95%;
  border: 1px solid rgb(169, 163, 163);
  margin: auto;
  margin-top: 10px;
  display: flex;
}
#protect > div:nth-child(2) > p > img {
  width: 2%;
  /* height: 15%; */
  margin: 10px 0px 0px 10px;
}
#protect > div:nth-child(2) > p {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(55, 53, 53);
  margin: 14px;
}
#protect > div:nth-child(2) > p > span {
  font-size: 14px;
  font-weight: 600;
}
/* content */
#content {
  /* border: 1px solid blue; */
  width: 90%;

  margin: 20px 20px 20px 57px;
}
#content > p:first-child {
  font-size: 13px;
  color: rgb(55, 53, 53);
  margin-top: 14px;
}
#content > p:first-child > span {
  font-weight: 900;
}
#content > h4 {
  margin-top: 8px;
}

#content > p {
  margin-top: 7px;
  font-size: 13px;
  color: rgb(113, 113, 113);
}
#content > h4 + p {
  margin-top: 20px;
}
#content > h6 {
  margin-top: 18px;
  color: rgb(72, 137, 235);
  font-size: 10px;
}
#content > h6 + h4 {
  margin-top: 18px;
  color: rgb(89, 86, 86);
  font-size: 15px;
}
#content > div {
  margin-top: 10px;
  /* border: 1px solid green; */
  color: rgb(117, 113, 113);
}
#content > h6 + h4 + div {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #dcedc7;
  font-size: 14px;
  padding: 15px;
}
#content > h6 + h4 + div > div > h2 {
  color: black;
}
#content > h6 + h4 + div + div {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(241, 241, 241);
  font-size: 14px;
  padding-left: 15px;
}
#content > p:last-child {
  margin-top: 20px;
}
#bill {
  margin-top: 20px;
  /* border: 1px solid orange; */
  background-color: white;
}
#bill > div:first-child {
  /* border: 1px  solid black; */
  margin: 20px;
  display: flex;
  width: 60%;
  padding-top: 20px;
}
#bill > div:first-child > img {
  margin-top: -5px;
  width: 5%;
}
#bill > div:first-child > p {
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: green;
}
#bill > div:first-child > p > img {
  margin-left: 10px;
  width: 7%;
}
#bill > div:nth-child(2) {
  width: 90%;
  margin: 20px 20px 20px 57px;
  display: flex;
  gap: 20px;
}
#bill > div:nth-child(2) > p {
  font-size: 15px;
  color: #1e5fa9;
}
#month > option {
  font-weight: 600;
  color: #1e5fa9;
}
#year > option {
  font-weight: 600;
  color: #1e5fa9;
  width: 400px;
}
#paybill {
  border-top: 1px solid black;
  width: 90%;
  margin: 20px 20px 20px 57px;
  padding-bottom: 30px;
}
#paybill >form> p {
  margin-top: 20px;
  font-size: 15px;
}
#paybill>form > input {
  height: 35px;
  width: 450px;
  margin-top: 10px;
}
#paybill>form > p + input + p + input {
  width: 250px;
}
#paybill>form > select {
  margin-top: 10px;
  height: 35px;
  width: 100px;
}
#paybill>form > div {
  display: flex;
  gap: 100px;
  font-size: 15px;
}
#paybill>form > div > div > p {
  margin-top: 20px;
}
#paybill>form > div > div > input {
  margin-top: 10px;
  height: 35px;
}
#paybill>form > div > div > #security {
  width: 80px;
}
#paybill>form>input:last-child{
    width:150px;
    height: 25px;
    background-color: green;
    border: none;
}
#billmail {
  margin-top: 20px;
  height: 150px;
  background-color: white;
 
}
#billmail > div:first-child {
  margin: 20px;
  display: flex;
  gap: 20px;
  padding-top: 20px;
}
#billmail > div:first-child > img {
  width: 3%;
}
#billmail > div:first-child > p {
  margin-top: 10;
  font-size: 14px;
  color: rgb(74, 71, 71);
}
#billmail > div:nth-child(2) {
  width: 90%;
  margin: 10px 20px 20px 57px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(74, 71, 71);
}
#billmail > div:nth-child(2) > input {
  margin-top: 10px;
  width: 450px;
  height: 35px;
}
/* #card{
    width:10px;
  
}
#card>img{
    width: 10%;
} */
#lastdiv {
  margin-top: 20px;
  /* border: 1px solid black; */
  /* height: 400px; */
  background-color: white;
  padding-bottom: 20px;
}
#lastdiv > div {
  /* border: 1px solid red; */
  width: 95%;
  margin: auto;
}
#lastdiv > div:first-child > p {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
}
li {
  font-size: 13px;
  margin-top: 10px;
  color: rgb(74, 71, 71);
}
li:nth-child(4) {
  margin-left: 20px;
}
#lastdiv > div:nth-child(2) > p {
  font-size: 14px;
  margin-top: 30px;
  color: rgb(74, 71, 71);
}
#lastdiv > div:last-child {
  margin-top: 20px;
}
#inlastdiv > p {
  font-size: 14px;
  color: green;
}
#inlastdiv > button {
  width: 150px;
  height: 35px;
  background-color: green;
  color: white;
  margin-top: 10px;
  font-weight: 600;
}
#inlastdiv > div {
  display: flex;
  font-size: 14px;
  padding-top: 20px;
  color: rgb(74, 71, 71);
}
#inlastdiv > div > img {
  width: 2%;
}
#inlastdiv > div + p {
  font-size: 13px;
  padding-top: 20px;
  color: rgb(74, 71, 71);
}

#photo {
  /* border:1px solid black; */
  width: 30%;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#photodiv {
  background-color: white;
  padding-bottom: 20px;
}
/* #photodiv > img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
} */
#kkk img{
  width: 100%;
  height: 100%;
}
#photodiv > div {
  margin: auto;
  width: 90%;
}
#photodiv > div > p {
  font-size: 14px;
  color: rgb(74, 71, 71);
}
#photodiv > div > p:nth-child(3),
p:nth-child(4),
p:nth-child(6) {
  margin-top: 20px;
}
#photodiv > div > p > span {
  font-weight: 600;
  color: rgb(58, 55, 55);
}
#photobill {
  margin-top: 20px;
  background-color: white;
}
#photobill > div:first-child {
  border-bottom: 1px solid rgb(143, 136, 136);
}
#photobill > div:first-child > h3 {
  padding: 20px;
}
#photobill > div:nth-child(2) {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid rgb(100, 96, 96);
  margin-top: 20px;
}
#photobill > div:nth-child(2) > div {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#photobill > div:nth-child(2) > p {
  font-size: 13px;
  color: rgb(100, 96, 96);
  margin-top: -15px;
}
#photobill > div:nth-child(2) > button {
  padding: 3px;
  color: white;
  background: green;
  margin-top: 20px;
  border: none;
}
#photobill > div:nth-child(3) {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
#photobill > div:nth-child(3) > div {
  display: flex;
  justify-content: space-between;
}
#photobill > div:nth-child(3) > div:nth-child(2) {
  color: green;
  font-size: 14px;
  margin-top: 20px;
}
#photobill > div:nth-child(3) > div:nth-child(3) {
  color: rgb(100, 96, 96);
  font-size: 14px;
  margin-top: 20px;
}
/* footer{
  padding-bottom:50px;
  
} */
#footer>p{
  font-size: 13px;
  margin-top: 20px;
  text-align: center;
}
#footer>p:first-child{
  color: green;
}
#footer>p:last-child{
  padding-bottom: 50px;
}
#footer>div{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 13px;
}

