*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f3f5;
}
.bold{
    font-weight: bold;
}
.grey-color{
    color: grey;
}
.first-middle-div{
    margin-top: 65px;
}
.mycontainer{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    margin-top: -102px;
}
.bradius{
    border-radius: 10px;
}
.mycard{
    /* border: 5px solid; */
    /* border-radius: 10px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.img_para{
    /* border: 1px solid transparent; */
    height: 170px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#img_para_1{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/11/12/TVLY_StoreFrontRefresh_BrandPromise_FitForYou_sfimg_562x240_20201111.jpg?impolicy=fcrop&w=600&h=257&q=medium");
    background-size: cover;
    box-sizing: border-box;
}
#img_para_2{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/11/12/TVLY_StoreFrontRefresh_BrandPromise_Transparency_sfimg_562x240_20201111.jpg?impolicy=fcrop&w=900&h=386&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}	
#img_para_3{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2020/11/12/TVLY_StoreFrontRefresh_BrandPromise_GotYourBack_sfimg_562x240_20201111.jpg?impolicy=fcrop&w=900&h=386&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}
.over-lap{
    position: relative;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 0px 1px 2px rgb(17 21 26 / 80%);
}
.over-lap-box{
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 95%;
    margin-left: 10px;
    top: 135px;
}
.mycard-body{
    /* border: 2px solid; */
    padding: 10px 10px 1px 10px;
    line-height: normal;
}
.mycard-text{
    color: grey;
    font-size: 13px;
}
@media (min-width:0) and (max-width: 1153px){
    .mycontainer{
        width: 95%;
    }
}
@media (min-width:0) and (max-width: 766px){
    .first-middle-div{
        margin-top: 30px;
    }
    .mycard{
        margin-bottom: 15px;
    }
    .img_para{
        height: 200px;
    }
}

/*  */
.middle-second-div-1{
    background:url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_AllInclusive_imgB_1199x399_20211104.jpg");
    height: 260px;
    margin-bottom: 15px;
    padding: 50px 40px;
    background-size: cover;
    box-sizing: border-box;
}
.middle-second-div-2{
    background:url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_LastMinute_imgB_375x468_20211104.jpg");
    height: 260px;
    margin-bottom: 15px;
    padding: 50px 40px;
    background-size: cover;
}

.second-middle-content{
    margin-top: 30px;
}
.msdc-btn{
    color: blue;
}
.msdc-inside{
    /* border: 2px solid; */
    color: white;
    width: 45%;
    line-height: normal
}
.msdc-inside p:first-child{
    font-weight: bold;
    font-size: 20px;
}
/*  */
.add-section{
    margin-top: 20px;
    box-sizing: border-box;
}
.add-section-div{
    background-image: url('https://tpc.googlesyndication.com/simgad/8059541480378389349?');
    background-position: 50% 50%;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.add-second-div{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}
.cl8{
    padding-right: 0;
}
.add-section-div-2{
    /* border: 1px solid; */
    margin-top: 80px;
    box-sizing: border-box;
}
.add-section-div-2>p:first-child{
    font-weight: bold;
    font-size: 20px;
}
@media (min-width:0) and (max-width: 865px){
    .add-section-div-2{
        margin-top: 20px;
        height: 180px;
        box-sizing: content-box;
        overflow: hidden;
    }
}
/*  */
#img_para_4_1{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Beach_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}
#img_para_4_2{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Car_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}	
#img_para_4_3{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_MOD_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}
#img_para_4_4{
    background: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_VacationRentals_imgB_900x506_20211104.jpg?impolicy=fcrop&w=900&h=600&q=mediumHigh");
    background-size: cover;
    box-sizing: border-box;
}
.img_para-4{
    /* border: 2px solid red; */
    height: 190px
}
.over-lap-box-4{
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 95%;
    margin-left: 20px;
    top: 150px;
}
@media (min-width:0) and (max-width: 991px){
    .img_para-4{
        /* border: 2px solid red; */
        height: 400px;
    }
}
/*  */
.featured-offers-div{
    margin: 20px 0 15px 0;
}

/*  */

.add-section-two{
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.add-section-two-div{
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Family_imgB_1200x674_20211104.jpg');
    background-position: 50% 50%;
    height: 250px;
    border-radius: 10px;
    background-size: cover;

}
.add-second-two-div{
    background-color: white;
    box-sizing: border-box;
}
.iframe-div{
    /* border: 2px solid red; */
    width: 98%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 60px;
}
.iframe-div iframe{
    border: 1px solid;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.after-y-section{
    margin-bottom: 30px;
}
.after-y-section-div{
    border: 1px solid;
    padding: 10px;
    background-color: white;
    /* line-height: 0.8; */
    border-radius: 10px;
}
.after-y-section-div>p:first-child{
    font-weight: bold;
    font-size: 18px;
}

/*  */
/* cscode css */
.last-second-div{
    /* border: 1px solid; */
}
.last-second-div-1{
    background: url("https://a.travel-assets.com/mad-service/footer/marquee/TVLY_App_Footer_v1.jpg");
    background-size: cover;
    height: 310px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#inside-last-second{
    font-weight: bold;
    font-size: 30px;
}

.last-second-div-2> div+p{
    font-weight: bold;
    font-size: 18px;
}

.cscodemaindiv{
    /* border: 2px solid; */
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
}
.cscodemaindiv>div:first-child{
    /* margin-left: 15px; */
}
.country-select{
    /* border: 2px solid; */
    width: 28%;
}
.country-select >select{
    height: 55px;
    border-radius: 10px;
    width: 15rem;
}
.ul-l-div{
    color: grey;
}
.last-second-div-2{
    /* border: 2px solid red; */
    height: 310px;
    box-sizing: border-box;
    /* line-height: 1.5;  */
    overflow: hidden;
}
.last-second-div-2 input{
    /* width: 180px; */
    width: 15rem;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 55px;
}
.last-second-div-2 button{
    /* width: 180px; */
    width: 15rem;
    border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    height: 55px;
    background-color: #0d5ab9;
    color: white;
}


.last-second-div-3{
    background-color: white;
    margin-bottom: 10px;
    margin: 0;
}
.last-second-div-3 img{
    width: 160px;
}
.last-second-div-3>div{
    margin-top: 25px;
}
.last-second-div-3>div p{
    margin-left: 16px;
    font-weight: bold;
}

.last-second-div-2-last-p{
    font-size: 14px;
    margin-top: 10px;
}

@media (min-width:0) and (max-width: 1247px){
    .ref{
        display: none;
    }
}
/*  */

.last-section{
    margin-bottom: 200px;
}

.last-second-div-2{
    background-color: white;
    padding: 20px 20px 0 20px;
    /* line-height: ; */
}
.last-section button{
    background-color: white;
    width: 100%;
    text-align: left;
    font-weight: bold;
    /* padding: 10px; */
    font-size: 18px;
    outline: none;
    border: none;
}
.last-section li{
    list-style: none;
    color: #0d5ab9;
}
.last-section li{
    list-style: none;
    color: #0d5ab9;
}
.s-last-d-1{
    display: flex;
    justify-content: space-between;
}
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn:active:focus, .btn:focus {
    outline: none;
    outline-offset: 0;
}
.after-y-section-div-d{
    display: flex;
    justify-content: space-between;
}
.after-y-section-div-d>p:first-child{
    font-size: 18px;
    color: black;
}
.after-y-section-image{
    width: 15px;
    position: relative;
    top: -5px;
}
.aysd-div{
    /* border: 1px solid; */
    width: 85%;
}

@media (min-width: 992px){

    #Navbar .col-md-6  {
        width: 40%;
    }
}




/* =============================== */




#top-content{
    border-radius: 1px solid red;
    /* width: 1533px; */
    height: 610px;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/06/25/TVLY_SeizeYourSomeday_lpheroB_1680x945_20210623.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    background-repeat:no-repeat ;
    background-size: 100% 80%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    /* margin-top: 70px; */
}

#box{
    width:80% ;
    /* height: 50%; */
    margin: auto;
    margin-bottom: 285px ;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
} 
#lists{
    border:none;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid rgb(96, 95, 95);
} 
#lists>h3{
    margin-left: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    color: rgb(93, 93, 93);
}
#lists>h3:hover{
    border-bottom: 2px solid #0e5bb9;
    cursor: pointer;
    color: #0e5bb9;
}

#input-fields{
    /* border: 1px solid red; */
    /* height: 200px; */
    margin-top:10px;
    padding: 20px 0px 0px 4px;
    /* display: flex; */
    
}
#SearchInput{ 
    border-radius: 5px solid green;
 }
#search-btn{
    /* width: 450px; */
    width: 100%;
    height: 47px;
    background: none;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 16px;
    color: rgb(112, 112, 112);
    cursor: pointer;
}
#search-btn:hover{
    border: 2px solid #0a438b;
}
#hidden{
    width: 450px;
    height: 330px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
    

}
#hidden>input{
    width: 100%;
    height: 50px;
    padding:25px;
    border: none;
    border-bottom: 1px solid rgb(71, 71, 71);
    font-size: 17px;
    border-radius: 10px 10px 0px 0px;
}
#hidden>div{
    /* border: 1px solid red; */
    margin-top: 10px;
    height: 50px;
    padding: 15px 0px 0px 20px;
}
#hidden>div:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}
#shown{
    margin-top: 20px;
    margin-left: -24px;
}
#shown>input{
    margin-left: 69px;
}
.shown-main{
    box-sizing: border-box;
}
#shown>input[type=checkbox]{
    zoom: 1.1;
}
#shown>label{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(81, 81, 81);
}
 #date{
    
    /* border: 5px solid red; */
    /* margin-left: 15px; */
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}  
.date-btn{
    /* width: 150px; */
    width: 45%;
    height: 47px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid grey;
    text-align: left;
    font-size: 14px;
    color: rgb(112, 112, 112);
    cursor: pointer;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 7px;
}
.date-btn>span{
    font-size: 14px;
    margin-left: 6px;
}
.date-btn:hover{
    border: 2px solid #0a438b;
}
#travel{
    /* border: 1px solid red; */
    /* margin-left: 20px; */
    /* position: relative; */
}
#travel>button{
    /* width:300px ; */
    width: 100%;
    height: 47px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid grey;
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    color: rgb(112, 112, 112);
    cursor: pointer;
}
#travel>button:hover{
    border: 2px solid #0a438b
}
.top-content-btn{
    width: 159px;
    height: 47px;
    background-color: #0e5bb9;
    border-radius: 8px;
    border: none;
    color: white;
    /* cursor: pointer; */
    /* border: 5px solid green; */
    margin: auto;
}
.top-content-btn:hover{
    background-color: #0a438b;
}
#travel-hidden{
    width: 290px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    position: absolute;
    left: 0%;
    right: 500px;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
    display: none;
    animation-duration: 80ms
}
#travel-hidden>div{
    /* border: 1px solid red; */
    margin-top: 20px;
}
#travel-hidden>div:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}
#travel-hidden>div:nth-child(2){
    margin-top: 8px;
    font-size: 15px;
}#travel-hidden>div:nth-child(3){
    font-weight: lighter;
    font-size: 14px;
    color: rgb(128, 128, 128);
}
#travel-hidden>div:nth-child(4){
    font-weight: lighter;
    font-size: 14px;
    color: rgb(128, 128, 128);
}
#travel-hidden>div:nth-child(5){
    margin-top: 25px;
    
}
#travel-hidden>div:nth-child(5)>button{
    width: 260px;
    height: 50px;
    border-radius: 10px;
    background-color: #0e5bb9;
    border: none;
    color: white;
    font-size: 17px;
    margin-left: 7px;
}
#triptype{
    display: flex;
    margin-bottom: -10px;
}
#triptype>div{
    width: 150px;
    /* border: 1px solid red; */
    margin-left: 30px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    
    display: none;
    font-size: 14px;
}
#triptype>div:hover{
    background-color:#d7e7f2;
    color:rgb(31, 31, 160) ;
}


/* ============================================ */

#input-fields>div{
    /* border: 1px solid green; */
    /* padding: 0; */
}

#date>input{
    margin-left: 0px;
}


/* ====================================== */




#footer{
    display: flex;
    width: 100%;
    /* border: 1px solid #000000; */
    height: auto;
    justify-content: center;
    gap: 70px;
    margin-top: -115px;

}
.footer-top{
    /* border: 1px solid red; */
    margin-top: 15px;
    margin-bottom: 15px;
    
   
}
.footer-top>div{
   margin-top: 18px;
   margin-bottom: 20px;
   
}
.footer-tag{
    color: #242C33;
    font-weight: bolder;
}
.footer_nav{
    color: #0D5AB9;
    font-size: 14px;
    cursor: pointer;
    
}
.footer_nav>a{
    color: #0D5AB9;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
.footer-top>img{
    width: 150px;
    height: 70px;
    cursor: pointer;
}
#copyright{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 50px;
}
.copyright_new{
    text-align: center;
    margin-top: 10px;
    color: #505c66;
    font-size: 14px;
    
}
#hr{
    width: 75%;
    /* border: 1px solid black; */
    /* height: auto; */
    margin: auto;
}
#first-footer{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}