#trips-bar{
    /* border: 1px solid black; */
    width: 550px;
    height: 550px;
    margin: auto;
}
.trips-tag{
    /* border: 1px solid red; */
    /* text-align: center; */
    margin-top: 20px;
}
#trips_img55{
    text-align: center;
}
#trip-sign2{
    background-color: #0D5AB9;
    border-radius: 10px;
    height: 35px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
#trip-sign2>a{
    color: white;
    text-decoration: none;
}
#trip_tag5{
    border: 1px solid black;
    height: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#trip_tag5>a{
    text-decoration: none;
    margin-left: 10px;
}
.trip_nav{
    /* margin-top: 5px; */
    /* cursor: pointer; */
    text-decoration: none;
}
#trips_h1>h1{
    font-size: 28px;
    font-weight: bolder;
}
#trip_nav6{
    color: black;
    font-weight: bolder;
    font-size: 18px;
    text-decoration: none;
}
#trip_nav7{
    color: grey;
}


@media (min-width: 992px){

    #Navbar .col-md-6  {
        width: 40%;
    }
}