body{
    background-color: rgb(245, 245, 245);
}
#mainDiv{
    /* border: 1px solid red; */
    display: block;
    /* z-index: 200; */
    position: relative;
    /* margin-left: 300px; */
    width: 1500px;
    margin: auto;
}
#one{
    font-size: 0.975rem;
    gap: 0.25rem;
    line-height: 1.125rem;
    background-color: transparent;
    color: #0D5AB9;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: inherit;
    text-decoration: none;
    /* border: 1px solid; */
    width: 80%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#div1{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    align-items: center;
}
a{
    text-align: left;
    background-color: transparent;
    color: #0D5AB9;
    text-decoration: none;
}
a:hover{
    color: rgb(13, 34, 231);
    text-decoration: underline;
}
#img_div{
    display: flex;
    margin-top: 20px;
}
#img_div>img{
    width: 58%;
    height: 304px;
}
#dis_of_img img{
    height: 304px;
}
#new img{
    width: 200px;
    height: 150px;
}
#div2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* margin-left: 50px; */
    width: 80%;
    margin: auto;
}
#div4{
    width: 80%;
    margin: auto; 
    margin-top: 10px;
}
.dis{
    display: flex;
    gap: 20px;
    margin-left: -40px;
}
#reservBtn button{
    margin-left: 200px;
    padding: 3px 6px 6px 6px;
    background-color: #0D5AB9;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    font-weight: 400;
    position: relative;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: inherit;
    cursor: pointer;
    padding: 13px;
}
#reservBtn button:hover{
    background-color: #1560bc; 
}
#div3{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
#div3 h1{
    color: #242C33;
    /* font-size: 1.575rem; */
    font-weight: 700;
    /* line-height: 1.625rem; */
}
#div3 h3{
    color: #242C33;
    /* font-size: 1.575rem; */
    font-weight: 700;
    line-height: 1.625rem;
}
.rating{
    width: 10px;
    height: 10px;
    display: grid;
    grid-template-columns: repeat(5,15px);
    margin-top: -15px;
}
#popular_amenities{
    display: flex;
    gap: 150px;
}
#popular_amenities0{
    display: flex;
    gap: 10px;
}
#main{
    width: 80%;
    height: 87px;
    margin-top:10px;
    padding: 20px 0px 0px 40px;
    display: flex;
    margin-bottom: 25px;
    /* margin-left: -62px;   */
    margin: auto;
}
#search-btn{
    width: 368px;
    height: 47px;
    background: none;
    border: 1px solid grey;
    border-radius: 8px;
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 16px;
    color: rgb(112, 112, 112);
    cursor: pointer;
    background-color: white;
}
#search-btn:hover{
    border: 2px solid #0a438b;
}
#hidden{
    width: 350px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: none;
}
#hidden>input{
    width: 100%;
    height: 24px;
    padding:25px;
    border: none;
    font-size: 17px;
    border-radius: 10px 10px 10px 10px;
}
#hidden>div{
    margin-top: 10px;
    height: 50px;
    padding: 15px 0px 0px 20px;
}
#hidden>div:hover{
    background-color: rgb(234, 234, 234);
    cursor: pointer;
}
#shown{
    margin-top: 20px;
    margin-left: -75px;
}
#shown>input{
    margin-left: 69px;
}
#shown>input[type=checkbox]{
    zoom: 1.1;
}
#shown>label{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(81, 81, 81);
}
#date{
    display: flex;
}
.date-btn{
    width: 150px;
    height: 47px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid grey;
    text-align: left;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    color: rgb(112, 112, 112);
    cursor: pointer;
    margin-left: 24px;
}
.date-btn:hover{
    border: 2px solid #0a438b;
}
#travel{
    margin-left: 20px;
    position: relative;
}
#travel>button{
    width:215px ;
    height: 47px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    text-align: left;
    padding:10px;
    font-size: 14px;
    color: rgb(112, 112, 112);
    cursor: pointer;
}
#travel>button:hover{
    border: 2px solid #0a438b
}
#top-content-btn{
    width:auto ;
    height: 46px;
    border-radius: 8px;
    background-color: #0a438b;
    border: 1px solid #0a438b;
    text-align: left;
    padding:10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}
#cont_ud{
    /* border: 1px solid red; */
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 20px;
    text-align: start;
    font-size: 13px; 
    margin: auto;
    justify-content: center;
    
}
#cont_ud>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: 10px;
    /* text-align: center; */
}
#cont_ud>div>img{
    width: 100%;
    height: auto;
}


#reservBtn{
    padding: 10px;
}

#hhh{
    width: 100%;
}
#hhh>img{
    width: 100%;
}
#part_2{
    margin-left: 60px;
}


#mmm{
    /* border:1px solid red ; */
    height: 530px;
    line-height: 20px;
}
p{
    font-size: 16px;
}
.circle1{
    margin-left: 10px;
}




.bold{
    font-weight: bold;
}
.modal-content{
  width: 609px;
  border-radius: 0;
}
.m-div1{
  display: flex;
  justify-content: space-between;
}
.m-div1 li{
  width: 85%;
  /* border: 2px solid red; */
  font-size: 14px;
}
.m-div2>p:first-child{
  font-size: 25px;
  font-weight: bold;
}
.modal-content p{
  margin: 0;
}
.m-div2>button{
  margin-top: 10px;
}
.m-div2 button{
  background-color: #0d5ab9;
  color: white;
}
.f1-m-d{
  margin-top: 40px;
}
.f2-m-d{
  margin-top: 45px;
  margin-bottom: 170px;
}
.modal-header .btn-close{
  margin: 0;
  padding: 0;
  margin-right: 20px;
}
.modal-header{
  justify-content:left;
  margin-right: 280px;
  padding: 10px;
}
.modal-header button{
    /* margin-right: 10px; */
}
.f-s-1{
  font-size: 15px;
}